.nav-list {
    list-style: none;
}
.nav-list a {
    color: $mainColor;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-list a:hover,
.nav-list a:focus {
    color: $secondaryColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondaryColor;
}

.nav-link {
    color: $secondaryColor;
}
.nav-list__active-link {
    position: relative;
}
.active-link::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 4px;
    background: $secondaryColor;
    border-radius: 2px;
    bottom: -36px;
    left: 0;
}
